PROJECT=projectId
REGION=<location_name>
DATASET_NAME=<dataset_name>

# bq->es dataflow env
DATAFLOW_NAME=<dataflow_name>
INPUT_TABLE_SPEC=projectId.datasetId.tableId
API_KEY=<api-key-from-elastic>
INDEX=index_name
CONNECTION_URL=https://your-es-cluster-url:9200